header {
    background-image: url("https://bogatyr.club/uploads/posts/2023-02/thumbs/1677357043_bogatyr-club-p-shapka-dlya-kanala-anime-fon-pinterest-2.png");
    background-position: center;
    background-size: cover;
}

main {
    background-image: url("https://abrakadabra.fun/uploads/posts/2022-01/1642474036_1-abrakadabra-fun-p-anime-shapki-dlya-tvicha-1.jpg");
    background-size: contain;
    background-position: center;

}